Flows_Gateway/Rasp_gateway.json
[
  {
    "id": "33ec2d5721b262cf",
    "type": "tab",
    "label": "Raspberry Pi - IoT Gateway (LoRa <-> MQTT)",
    "disabled": false,
    "info": "Pure communication gateway. No irrigation logic, no DB, no API, no auth.\nResponsibilities:\n 1) LoRa -> MQTT (sensor data relay) -> irrigation/abdellah/data (proper JSON, buffered + retried)\n 2) MQTT -> LoRa (command relay) <- irrigation/abdellah/cmd\n 3) Heartbeat monitoring -> irrigation/rpi/raspStatus (buffered + retried)\n 4) Error handling -> irrigation/rpi/error"
  },
  {
    "id": "6ce4db8983b05c8c",
    "type": "comment",
    "z": "33ec2d5721b262cf",
    "name": "=== SECTION 1: LoRa -> MQTT (Sensor Data Relay) ===",
    "info": "Receives raw LoRa packets from ESP32, filters by id='abdellah', normalizes fields into a clean JSON OBJECT, and publishes to MQTT broker (OVH) on irrigation/abdellah/data. Payload is sent as a real JSON object (msg.payload), so the MQTT out node serializes it properly - no double-encoded strings. Buffered + retried if MQTT is unreachable.",
    "x": 250,
    "y": 80,
    "wires": []
  },
  {
    "id": "7b105304522dab11",
    "type": "serial in",
    "z": "33ec2d5721b262cf",
    "name": "LoRa Serial IN (from ESP32)",
    "serial": "gw_serialport_cfg",
    "x": 150,
    "y": 120,
    "wires": [["6850925315e14ff3"]]
  },
  {
    "id": "6850925315e14ff3",
    "type": "function",
    "z": "33ec2d5721b262cf",
    "name": "Filter & Parse (id=abdellah)",
    "func": "if (typeof msg.payload === 'object') {\n    if (msg.payload.id !== 'abdellah') {\n        node.status({ fill:'grey', shape:'ring', text:'Wrong id' });\n        return null;\n    }\n    node.status({ fill:'green', shape:'dot', text:'abdellah OK' });\n    return msg;\n}\n\nlet line = '';\nif (Buffer.isBuffer(msg.payload)) {\n    line = msg.payload.toString('utf8').trim();\n} else {\n    line = String(msg.payload).trim();\n}\n\nif (!line) return null;\n\n// Guard: catch the literal string '[object Object]' which means something\n// upstream called String(obj) instead of JSON.stringify(obj)/serializeJson().\nif (line === '[object Object]') {\n    node.status({ fill:'red', shape:'ring', text:'Got [object Object] - upstream bug' });\n    node.warn('Gateway: received literal \"[object Object]\" string - sender must use JSON.stringify()/serializeJson(), not String(obj).');\n    return null;\n}\n\nconst start = line.indexOf('{');\nconst end   = line.lastIndexOf('}');\nif (start === -1 || end === -1) {\n    node.status({ fill:'grey', shape:'ring', text:'Not JSON' });\n    return null;\n}\nline = line.substring(start, end + 1);\n\nlet data;\ntry {\n    data = JSON.parse(line);\n} catch(err) {\n    node.status({ fill:'red', shape:'ring', text:'Parse error' });\n    return null;\n}\n\nif (data.id !== 'abdellah') {\n    node.status({ fill:'grey', shape:'ring', text:'Wrong id' });\n    return null;\n}\n\nmsg.payload = data;\nnode.status({ fill:'green', shape:'dot', text:'abdellah OK' });\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 120,
    "wires": [["32d7d8b22f829221", "60458a90b05dd754"]]
  },
  {
    "id": "32d7d8b22f829221",
    "type": "debug",
    "z": "33ec2d5721b262cf",
    "name": "Debug: Parsed LoRa Data",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "x": 740,
    "y": 80,
    "wires": []
  },
  {
    "id": "60458a90b05dd754",
    "type": "function",
    "z": "33ec2d5721b262cf",
    "name": "Normalize ESP32 Fields",
    "func": "// Normalizes/renames raw ESP32 fields into a clean, consistent JSON object\n// and adds a gateway-side timestamp + gateway id for traceability.\n// NOTE: percentage/ratio math here is unit normalization (mL/mV -> %, mS/cm),\n// not irrigation decision logic - no thresholds or pump actions are decided here.\n\nconst d = msg.payload;\n\nconst pct_drainage = parseFloat(d.input_mL) > 0\n    ? parseFloat(((parseFloat(d.drainage_mL || 0) / parseFloat(d.input_mL)) * 100).toFixed(1))\n    : 0;\n\nconst ec_mscm = parseFloat((parseFloat(d.ec_drainage || 0) / 1000).toFixed(2));\nconst ph      = parseFloat(parseFloat(d.ph || 0).toFixed(2));\n\nmsg.payload = {\n    id:            d.id || 'abdellah',\n    weight_g:      parseFloat(d.weight_g)      || 0,\n    pct_drainage:  pct_drainage,\n    ec_mscm:       ec_mscm,\n    ph:            ph,\n    input_mL:      parseFloat(d.input_mL)      || 0,\n    drainage_mL:   parseFloat(d.drainage_mL)   || 0,\n    water_used_mL: parseFloat(d.water_used_mL) || 0,\n    temp:          parseFloat(d.temp_drainage)  || 0,\n    soil_pct:      parseFloat(d.soil_pct)       || 0,\n    pump:          d.pump       || 'OFF',\n    drain_pump:    d.drain_pump || 'OFF',\n    timestamp:     d.timestamp || new Date().toISOString(),\n    gateway:       'raspberry01'\n};\n\nmsg.topic = 'irrigation/abdellah/data';\n\nnode.status({ fill:'blue', shape:'dot',\n    text: `drain:${pct_drainage}% EC:${ec_mscm} pH:${ph} w:${d.weight_g}g` });\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 730,
    "y": 120,
    "wires": [["d36a01b678b69044"]]
  },
  {
    "id": "ce1a48fc92da28a9",
    "type": "comment",
    "z": "33ec2d5721b262cf",
    "name": "=== Buffer & Retry: Sensor Data -> irrigation/abdellah/data ===",
    "info": "If the MQTT broker is unreachable, sensor messages are queued (FIFO, capped at 500) and flushed oldest-first once connection returns. A periodic retry timer (every 10s) also attempts a flush.",
    "x": 280,
    "y": 200,
    "wires": []
  },
  {
    "id": "d36a01b678b69044",
    "type": "function",
    "z": "33ec2d5721b262cf",
    "name": "Enqueue Sensor Data Msg",
    "func": "// Queue for topic irrigation/abdellah/data\nconst queue = flow.get('gw_outbox_data') || [];\nconst MAX_QUEUE = 500; // cap to avoid unbounded memory growth\n\nqueue.push({ topic: msg.topic, payload: msg.payload, qos: 1, retain: false });\n\nif (queue.length > MAX_QUEUE) {\n    queue.shift(); // drop oldest if over capacity\n    node.warn('Sensor data outbox overflow - oldest message dropped');\n}\n\nflow.set('gw_outbox_data', queue);\nnode.status({ fill:'blue', shape:'dot', text:`Queued | size=${queue.length}` });\n\nreturn { _flushTrigger: true };",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1040,
    "y": 120,
    "wires": [["1557554b41ec4e8c"]]
  },
  {
    "id": "b4a242be997568c4",
    "type": "inject",
    "z": "33ec2d5721b262cf",
    "name": "Retry Flush every 10s",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "10",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1050,
    "y": 180,
    "wires": [["1557554b41ec4e8c"]]
  },
  {
    "id": "1557554b41ec4e8c",
    "type": "function",
    "z": "33ec2d5721b262cf",
    "name": "Flush Sensor Data Outbox (FIFO)",
    "func": "// Attempts to send queued messages in order if the MQTT connection is up.\nconst queue = flow.get('gw_outbox_data') || [];\n\nif (queue.length === 0) {\n    node.status({ fill:'grey', shape:'ring', text:'Outbox empty' });\n    return null;\n}\n\nlet connected = true;\ntry {\n    const brokerNode = RED.nodes.getNode('gw_mqtt_broker_cfg');\n    if (brokerNode && typeof brokerNode.connected !== 'undefined') {\n        connected = brokerNode.connected;\n    }\n} catch (e) {\n    connected = true;\n}\n\nif (!connected) {\n    node.status({ fill:'red', shape:'ring', text:`Offline | buffered=${queue.length}` });\n    return null;\n}\n\nconst toSend = queue.splice(0, queue.length);\nflow.set('gw_outbox_data', queue);\n\nnode.status({ fill:'green', shape:'dot', text:`Flushed ${toSend.length} msg(s)` });\n\n// payload kept as a real object so mqtt out serializes proper JSON\nconst msgs = toSend.map(item => ({\n    topic:   item.topic,\n    payload: item.payload,\n    qos:     item.qos,\n    retain:  item.retain\n}));\n\nreturn [msgs];",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1400,
    "y": 120,
    "wires": [["d1c55bc53f1cd634", "a8a7a8ee0e2cfb6c"]]
  },
  {
    "id": "d1c55bc53f1cd634",
    "type": "debug",
    "z": "33ec2d5721b262cf",
    "name": "Debug: Sensor Outbox Flush",
    "active": false,
    "tosidebar": true,
    "complete": "payload",
    "x": 1660,
    "y": 80,
    "wires": []
  },
  {
    "id": "c8cc6bf7542322c6",
    "type": "comment",
    "z": "33ec2d5721b262cf",
    "name": "=== SECTION 2: MQTT -> LoRa (Command Relay) ===",
    "info": "Receives commands from OVH server via MQTT, converts them into the LoRa packet format expected by the ESP32, and transmits over the LoRa serial link. No validation of command semantics beyond basic JSON/format checks.",
    "x": 220,
    "y": 280,
    "wires": []
  },
  {
    "id": "fb1a5c154704cc38",
    "type": "function",
    "z": "33ec2d5721b262cf",
    "name": "Validate & Format for LoRa",
    "func": "// Basic structural validation only - NO interpretation of command meaning.\n// Ensures payload is valid JSON and contains an 'id' field, then\n// serializes it into the line format expected by the ESP32 over LoRa.\n\nlet cmd;\n\nif (typeof msg.payload === 'string') {\n    try {\n        cmd = JSON.parse(msg.payload);\n    } catch (err) {\n        node.status({ fill:'red', shape:'ring', text:'Invalid JSON from MQTT' });\n        node.warn('Gateway: received invalid JSON command on ' + msg.topic + ': ' + msg.payload);\n        return null;\n    }\n} else if (typeof msg.payload === 'object' && msg.payload !== null) {\n    cmd = msg.payload;\n} else {\n    node.status({ fill:'red', shape:'ring', text:'Unsupported payload type' });\n    return null;\n}\n\nif (!cmd.id) {\n    node.status({ fill:'red', shape:'ring', text:'Missing id field' });\n    node.warn('Gateway: command missing \"id\" field, dropping: ' + JSON.stringify(cmd));\n    return null;\n}\n\n// Serialize to single-line JSON for LoRa transmission\nmsg.payload = JSON.stringify(cmd) + '\\n';\n\nnode.status({ fill:'green', shape:'dot', text:'CMD -> LoRa: ' + cmd.id });\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 360,
    "wires": [["815c6e36edf2cd9a", "752f29a8d2a8cfb2"]]
  },
  {
    "id": "815c6e36edf2cd9a",
    "type": "debug",
    "z": "33ec2d5721b262cf",
    "name": "Debug: Command -> LoRa",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "x": 720,
    "y": 400,
    "wires": []
  },
  {
    "id": "752f29a8d2a8cfb2",
    "type": "serial out",
    "z": "33ec2d5721b262cf",
    "name": "LoRa Serial OUT (to ESP32)",
    "serial": "gw_serialport_cfg",
    "x": 720,
    "y": 360,
    "wires": []
  },
  {
    "id": "9d3cd8f3ed08d2a4",
    "type": "inject",
    "z": "33ec2d5721b262cf",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"id\":\"abdellah\",\"drain_pump\":1}",
    "payloadType": "json",
    "x": 90,
    "y": 420,
    "wires": [["fb1a5c154704cc38"]]
  },
  {
    "id": "f4403301f35a2f13",
    "type": "inject",
    "z": "33ec2d5721b262cf",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"id\":\"abdellah\",\"drain_pump\":0}",
    "payloadType": "json",
    "x": 290,
    "y": 440,
    "wires": [["fb1a5c154704cc38"]]
  },
  {
    "id": "e702a5b325ee5f90",
    "type": "inject",
    "z": "33ec2d5721b262cf",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"id\":\"abdellah\",\"weight_g\":54000,\"soil_pct\":65,\"ph\":4.6,\"input_mL\":900,\"drainage_mL\":200,\"water_used_mL\":500,\"ec_drainage\":2600,\"temp_drainage\":24,\"pump\":\"OFF\",\"drain_pump\":\"OFF\"}",
    "payloadType": "json",
    "x": 1560,
    "y": 180,
    "wires": [["a8a7a8ee0e2cfb6c"]]
  },
  {
    "id": "a8a7a8ee0e2cfb6c",
    "type": "http request",
    "z": "33ec2d5721b262cf",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://164.132.41.168:1880/abdellahData",
    "tls": "",
    "persist": true,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1850,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "201d01f09da481cd",
    "type": "mqtt in",
    "z": "33ec2d5721b262cf",
    "name": "",
    "topic": "/abdellah/irrigation/cmd",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "gw_mqtt_broker_cfg",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 360,
    "wires": [["fb1a5c154704cc38"]]
  },
  {
    "id": "gw_serialport_cfg",
    "type": "serial-port",
    "name": "",
    "serialport": "/dev/serial0",
    "serialbaud": "9600",
    "databits": 8,
    "parity": "none",
    "stopbits": 1,
    "waitfor": "",
    "dtr": "none",
    "rts": "none",
    "cts": "none",
    "dsr": "none",
    "newline": "\\n",
    "bin": "false",
    "out": "char",
    "addchar": "\\n",
    "responsetimeout": 10000
  },
  {
    "id": "gw_mqtt_broker_cfg",
    "type": "mqtt-broker",
    "name": "OVH Mosquitto",
    "broker": "164.132.41.168",
    "port": 1883,
    "clientid": "rpi-gateway-abdellah",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "irrigation/rpi/status",
    "birthQos": "1",
    "birthRetain": "true",
    "birthPayload": "{\"status\":\"online\",\"gateway\":\"raspberry01\"}",
    "birthMsg": {},
    "closeTopic": "",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "irrigation/rpi/status",
    "willQos": "0",
    "willRetain": "true",
    "willPayload": "{\"status\":\"offline\",\"gateway\":\"raspberry01\"}",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "068023e02ccd36de",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-node-serialport": "2.0.3"
    }
  }
]
