Flows_Gateway/Rasp_gateway.json
[
  {
    "id": "dc64766702f1e738",
    "type": "tab",
    "label": "Raspberry Pi - IoT Gateway (LoRa <-> MQTT)",
    "disabled": false,
    "info": "Pure communication gateway. No irrigation logic, no DB, no API, no auth.\nResponsibilities:\n 1) LoRa -> MQTT (sensor data relay) -> irrigation/abdellah/data (proper JSON, buffered + retried)\n 2) MQTT -> LoRa (command relay) <- irrigation/abdellah/cmd\n 3) Heartbeat monitoring -> irrigation/rpi/raspStatus (buffered + retried)\n 4) Error handling -> irrigation/rpi/error"
  },
  {
    "id": "677969cf1735794c",
    "type": "comment",
    "z": "dc64766702f1e738",
    "name": "=== SECTION 1: LoRa -> MQTT (Sensor Data Relay) ===",
    "info": "Receives raw LoRa packets from ESP32, filters by id='abdellah', normalizes fields into a clean JSON OBJECT, and publishes to MQTT broker (OVH) on irrigation/abdellah/data. Payload is sent as a real JSON object (msg.payload), so the MQTT out node serializes it properly - no double-encoded strings. Buffered + retried if MQTT is unreachable.",
    "x": 250,
    "y": 80,
    "wires": []
  },
  {
    "id": "bfeaed96f35a2826",
    "type": "serial in",
    "z": "dc64766702f1e738",
    "name": "LoRa Serial IN (from ESP32)",
    "serial": "gw_serialport_cfg",
    "x": 150,
    "y": 120,
    "wires": [["7e01b13267e6d90b"]]
  },
  {
    "id": "7e01b13267e6d90b",
    "type": "function",
    "z": "dc64766702f1e738",
    "name": "Filter & Parse (id=abdellah)",
    "func": "if (typeof msg.payload === 'object') {\n    if (msg.payload.id !== 'abdellah') {\n        node.status({ fill:'grey', shape:'ring', text:'Wrong id' });\n        return null;\n    }\n    node.status({ fill:'green', shape:'dot', text:'abdellah OK' });\n    return msg;\n}\n\nlet line = '';\nif (Buffer.isBuffer(msg.payload)) {\n    line = msg.payload.toString('utf8').trim();\n} else {\n    line = String(msg.payload).trim();\n}\n\nif (!line) return null;\n\n// Guard: catch the literal string '[object Object]' which means something\n// upstream called String(obj) instead of JSON.stringify(obj)/serializeJson().\nif (line === '[object Object]') {\n    node.status({ fill:'red', shape:'ring', text:'Got [object Object] - upstream bug' });\n    node.warn('Gateway: received literal \"[object Object]\" string - sender must use JSON.stringify()/serializeJson(), not String(obj).');\n    return null;\n}\n\nconst start = line.indexOf('{');\nconst end   = line.lastIndexOf('}');\nif (start === -1 || end === -1) {\n    node.status({ fill:'grey', shape:'ring', text:'Not JSON' });\n    return null;\n}\nline = line.substring(start, end + 1);\n\nlet data;\ntry {\n    data = JSON.parse(line);\n} catch(err) {\n    node.status({ fill:'red', shape:'ring', text:'Parse error' });\n    return null;\n}\n\nif (data.id !== 'abdellah') {\n    node.status({ fill:'grey', shape:'ring', text:'Wrong id' });\n    return null;\n}\n\nmsg.payload = data;\nnode.status({ fill:'green', shape:'dot', text:'abdellah OK' });\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 120,
    "wires": [["2d1461db904276ac", "df63b84340753afe"]]
  },
  {
    "id": "2d1461db904276ac",
    "type": "debug",
    "z": "dc64766702f1e738",
    "name": "Debug: Parsed LoRa Data",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "x": 740,
    "y": 80,
    "wires": []
  },
  {
    "id": "df63b84340753afe",
    "type": "function",
    "z": "dc64766702f1e738",
    "name": "Normalize ESP32 Fields",
    "func": "// Normalizes/renames raw ESP32 fields into a clean, consistent JSON object\n// and adds a gateway-side timestamp + gateway id for traceability.\n// NOTE: percentage/ratio math here is unit normalization (mL/mV -> %, mS/cm),\n// not irrigation decision logic - no thresholds or pump actions are decided here.\n\nconst d = msg.payload;\n\nconst pct_drainage = parseFloat(d.input_mL) > 0\n    ? parseFloat(((parseFloat(d.drainage_mL || 0) / parseFloat(d.input_mL)) * 100).toFixed(1))\n    : 0;\n\nconst ec_mscm = parseFloat((parseFloat(d.ec_drainage || 0) / 1000).toFixed(2));\nconst ph      = parseFloat(parseFloat(d.ph || 0).toFixed(2));\n\nmsg.payload = {\n    id:            d.id || 'abdellah',\n    weight_g:      parseFloat(d.weight_g)      || 0,\n    pct_drainage:  pct_drainage,\n    ec_mscm:       ec_mscm,\n    ph:            ph,\n    input_mL:      parseFloat(d.input_mL)      || 0,\n    drainage_mL:   parseFloat(d.drainage_mL)   || 0,\n    water_used_mL: parseFloat(d.water_used_mL) || 0,\n    temp:          parseFloat(d.temp_drainage)  || 0,\n    soil_pct:      parseFloat(d.soil_pct)       || 0,\n    pump:          d.pump       || 'OFF',\n    drain_pump:    d.drain_pump || 'OFF',\n    timestamp:     d.timestamp || new Date().toISOString(),\n    gateway:       'raspberry01'\n};\n\nmsg.topic = 'irrigation/abdellah/data';\n\nnode.status({ fill:'blue', shape:'dot',\n    text: `drain:${pct_drainage}% EC:${ec_mscm} pH:${ph} w:${d.weight_g}g` });\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 730,
    "y": 120,
    "wires": [["9b26bb07927bd2e8"]]
  },
  {
    "id": "9b26bb07927bd2e8",
    "type": "function",
    "z": "dc64766702f1e738",
    "name": "Enqueue Sensor Data Msg",
    "func": "// Queue for topic irrigation/abdellah/data\nconst queue = flow.get('gw_outbox_data') || [];\nconst MAX_QUEUE = 500; // cap to avoid unbounded memory growth\n\nqueue.push({ topic: msg.topic, payload: msg.payload, qos: 1, retain: false });\n\nif (queue.length > MAX_QUEUE) {\n    queue.shift(); // drop oldest if over capacity\n    node.warn('Sensor data outbox overflow - oldest message dropped');\n}\n\nflow.set('gw_outbox_data', queue);\nnode.status({ fill:'blue', shape:'dot', text:`Queued | size=${queue.length}` });\n\nreturn { _flushTrigger: true };",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1000,
    "y": 120,
    "wires": [["48f3a92a2524f1b3"]]
  },
  {
    "id": "d1648ceee27ec517",
    "type": "inject",
    "z": "dc64766702f1e738",
    "name": "Retry Flush every 10s",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "10",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 1010,
    "y": 160,
    "wires": [["48f3a92a2524f1b3"]]
  },
  {
    "id": "48f3a92a2524f1b3",
    "type": "function",
    "z": "dc64766702f1e738",
    "name": "Flush Sensor Data Outbox (FIFO)",
    "func": "// Attempts to send queued messages in order if the MQTT connection is up.\nconst queue = flow.get('gw_outbox_data') || [];\n\nif (queue.length === 0) {\n    node.status({ fill:'grey', shape:'ring', text:'Outbox empty' });\n    return null;\n}\n\nlet connected = true;\ntry {\n    const brokerNode = RED.nodes.getNode('gw_mqtt_broker_cfg');\n    if (brokerNode && typeof brokerNode.connected !== 'undefined') {\n        connected = brokerNode.connected;\n    }\n} catch (e) {\n    connected = true;\n}\n\nif (!connected) {\n    node.status({ fill:'red', shape:'ring', text:`Offline | buffered=${queue.length}` });\n    return null;\n}\n\nconst toSend = queue.splice(0, queue.length);\nflow.set('gw_outbox_data', queue);\n\nnode.status({ fill:'green', shape:'dot', text:`Flushed ${toSend.length} msg(s)` });\n\n// payload kept as a real object so mqtt out serializes proper JSON\nconst msgs = toSend.map(item => ({\n    topic:   item.topic,\n    payload: item.payload,\n    qos:     item.qos,\n    retain:  item.retain\n}));\n\nreturn [msgs];",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1360,
    "y": 120,
    "wires": [["af0e8df04687a6ef", "3e6a49156160bc64"]]
  },
  {
    "id": "3e6a49156160bc64",
    "type": "debug",
    "z": "dc64766702f1e738",
    "name": "Debug: Sensor Outbox Flush",
    "active": false,
    "tosidebar": true,
    "complete": "payload",
    "x": 1660,
    "y": 80,
    "wires": []
  },
  {
    "id": "af0e8df04687a6ef",
    "type": "mqtt out",
    "z": "dc64766702f1e738",
    "name": "MQTT OUT -> irrigation/abdellah/data",
    "topic": "",
    "qos": "1",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "gw_mqtt_broker_cfg",
    "x": 1690,
    "y": 120,
    "wires": []
  },
  {
    "id": "1606f22ffd3ce9c8",
    "type": "comment",
    "z": "dc64766702f1e738",
    "name": "=== SECTION 2: MQTT -> LoRa (Command Relay) ===",
    "info": "Receives commands from OVH server via MQTT, converts them into the LoRa packet format expected by the ESP32, and transmits over the LoRa serial link. No validation of command semantics beyond basic JSON/format checks.",
    "x": 220,
    "y": 240,
    "wires": []
  },
  {
    "id": "aa1acfe083697738",
    "type": "mqtt in",
    "z": "dc64766702f1e738",
    "name": "MQTT Commands IN (from OVH)",
    "topic": "irrigation/abdellah/cmd",
    "qos": "1",
    "datatype": "auto",
    "broker": "gw_mqtt_broker_cfg",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 150,
    "y": 280,
    "wires": [["aed0b50226ace28b"]]
  },
  {
    "id": "aed0b50226ace28b",
    "type": "function",
    "z": "dc64766702f1e738",
    "name": "Validate & Format for LoRa",
    "func": "// Basic structural validation only - NO interpretation of command meaning.\n// Ensures payload is valid JSON and contains an 'id' field, then\n// serializes it into the line format expected by the ESP32 over LoRa.\n\nlet cmd;\n\nif (typeof msg.payload === 'string') {\n    try {\n        cmd = JSON.parse(msg.payload);\n    } catch (err) {\n        node.status({ fill:'red', shape:'ring', text:'Invalid JSON from MQTT' });\n        node.warn('Gateway: received invalid JSON command on ' + msg.topic + ': ' + msg.payload);\n        return null;\n    }\n} else if (typeof msg.payload === 'object' && msg.payload !== null) {\n    cmd = msg.payload;\n} else {\n    node.status({ fill:'red', shape:'ring', text:'Unsupported payload type' });\n    return null;\n}\n\nif (!cmd.id) {\n    node.status({ fill:'red', shape:'ring', text:'Missing id field' });\n    node.warn('Gateway: command missing \"id\" field, dropping: ' + JSON.stringify(cmd));\n    return null;\n}\n\n// Serialize to single-line JSON for LoRa transmission\nmsg.payload = JSON.stringify(cmd) + '\\n';\n\nnode.status({ fill:'green', shape:'dot', text:'CMD -> LoRa: ' + cmd.id });\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 280,
    "wires": [["f8860005884f3db8", "b2ec2a9043ed5296"]]
  },
  {
    "id": "f8860005884f3db8",
    "type": "debug",
    "z": "dc64766702f1e738",
    "name": "Debug: Command -> LoRa",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "x": 760,
    "y": 320,
    "wires": []
  },
  {
    "id": "b2ec2a9043ed5296",
    "type": "serial out",
    "z": "dc64766702f1e738",
    "name": "LoRa Serial OUT (to ESP32)",
    "serial": "gw_serialport_cfg",
    "x": 760,
    "y": 280,
    "wires": []
  },
  {
    "id": "b007f91c5c033bdf",
    "type": "comment",
    "z": "dc64766702f1e738",
    "name": "=== SECTION 3: Connection / Heartbeat Monitoring ===",
    "info": "Publishes a heartbeat to MQTT every 30 seconds containing gateway id, online status, uptime, and last_seen timestamp -> irrigation/rpi/raspStatus. Buffered (latest-only) + retried.",
    "x": 230,
    "y": 420,
    "wires": []
  },
  {
    "id": "427e2f94caeb66aa",
    "type": "inject",
    "z": "dc64766702f1e738",
    "name": "Heartbeat every 30s",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 460,
    "wires": [["e125291d7a066d82"]]
  },
  {
    "id": "e125291d7a066d82",
    "type": "function",
    "z": "dc64766702f1e738",
    "name": "Build Heartbeat Payload",
    "func": "// Purely informational status message - no logic, no decisions.\nconst nowMs = Date.now();\nconst startMs = flow.get('gw_start_time') || (() => {\n    flow.set('gw_start_time', nowMs);\n    return nowMs;\n})();\n\nconst uptimeSec = Math.floor((nowMs - startMs) / 1000);\n\nconst h = Math.floor(uptimeSec / 3600);\nconst m = Math.floor((uptimeSec % 3600) / 60);\nconst s = uptimeSec % 60;\nconst uptimeStr = `${h}h ${m}m ${s}s`;\n\nmsg.topic = 'irrigation/rpi/raspStatus';\nmsg.payload = {\n    gateway:   'raspberry01',\n    online:    true,\n    uptime:    uptimeStr,\n    uptime_s:  uptimeSec,\n    last_seen: new Date().toISOString()\n};\n\nnode.status({ fill:'green', shape:'dot', text:`Heartbeat sent | up ${uptimeStr}` });\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 460,
    "wires": [["93b99ac2a6c78ecf"]]
  },
  {
    "id": "6a9bdff64671b52d",
    "type": "comment",
    "z": "dc64766702f1e738",
    "name": "=== Buffer & Retry: Heartbeat -> irrigation/rpi/raspStatus ===",
    "info": "If MQTT broker is unreachable, only the LATEST heartbeat is kept (no stale-uptime spam) and flushed once connection returns or on the periodic retry.",
    "x": 260,
    "y": 580,
    "wires": []
  },
  {
    "id": "93b99ac2a6c78ecf",
    "type": "function",
    "z": "dc64766702f1e738",
    "name": "Enqueue Heartbeat Msg",
    "func": "// Queue for topic irrigation/rpi/raspStatus\n// Keep only the latest heartbeat to avoid stale uptime spam after reconnect.\nconst queue = flow.get('gw_outbox_status') || [];\n\nqueue.length = 0; // always keep just the freshest heartbeat\nqueue.push({ topic: msg.topic, payload: msg.payload, qos: 1, retain: true });\n\nflow.set('gw_outbox_status', queue);\nnode.status({ fill:'blue', shape:'dot', text:`Queued (heartbeat) | size=${queue.length}` });\n\nreturn { _flushTrigger: true };",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 670,
    "y": 460,
    "wires": [["439a83f904d5ac67"]]
  },
  {
    "id": "ee5a0c4a03d6d738",
    "type": "inject",
    "z": "dc64766702f1e738",
    "name": "Retry Flush every 10s",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "10",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 670,
    "y": 520,
    "wires": [["439a83f904d5ac67"]]
  },
  {
    "id": "439a83f904d5ac67",
    "type": "function",
    "z": "dc64766702f1e738",
    "name": "Flush Heartbeat Outbox",
    "func": "const queue = flow.get('gw_outbox_status') || [];\n\nif (queue.length === 0) {\n    node.status({ fill:'grey', shape:'ring', text:'Outbox empty' });\n    return null;\n}\n\nlet connected = true;\ntry {\n    const brokerNode = RED.nodes.getNode('gw_mqtt_broker_cfg');\n    if (brokerNode && typeof brokerNode.connected !== 'undefined') {\n        connected = brokerNode.connected;\n    }\n} catch (e) {\n    connected = true;\n}\n\nif (!connected) {\n    node.status({ fill:'red', shape:'ring', text:`Offline | buffered=${queue.length}` });\n    return null;\n}\n\nconst toSend = queue.splice(0, queue.length);\nflow.set('gw_outbox_status', queue);\n\nnode.status({ fill:'green', shape:'dot', text:`Flushed ${toSend.length} msg(s)` });\n\nconst msgs = toSend.map(item => ({\n    topic:   item.topic,\n    payload: item.payload,\n    qos:     item.qos,\n    retain:  item.retain\n}));\n\nreturn [msgs];",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 970,
    "y": 460,
    "wires": [["d63af4326e2d88d3", "65f11bd94812ea43"]]
  },
  {
    "id": "65f11bd94812ea43",
    "type": "debug",
    "z": "dc64766702f1e738",
    "name": "Debug: Heartbeat Outbox Flush",
    "active": false,
    "tosidebar": true,
    "complete": "payload",
    "x": 1270,
    "y": 460,
    "wires": []
  },
  {
    "id": "d63af4326e2d88d3",
    "type": "mqtt out",
    "z": "dc64766702f1e738",
    "name": "MQTT OUT -> irrigation/rpi/raspStatus",
    "topic": "",
    "qos": "1",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "gw_mqtt_broker_cfg",
    "x": 1290,
    "y": 500,
    "wires": []
  },
  {
    "id": "f46686ce88628ce7",
    "type": "comment",
    "z": "dc64766702f1e738",
    "name": "=== SECTION 5: Error Handling ===",
    "info": "Catches uncaught errors from any node on this tab and publishes them to a dedicated MQTT diagnostics topic.",
    "x": 140,
    "y": 700,
    "wires": []
  },
  {
    "id": "d8d00edf238fe57b",
    "type": "catch",
    "z": "dc64766702f1e738",
    "name": "Catch All Errors",
    "scope": null,
    "uncaught": true,
    "x": 140,
    "y": 760,
    "wires": [["b748e4049a8d06ee"]]
  },
  {
    "id": "b748e4049a8d06ee",
    "type": "function",
    "z": "dc64766702f1e738",
    "name": "Format Error Report",
    "func": "msg.topic = 'irrigation/rpi/error';\nmsg.payload = {\n    gateway:   'raspberry01',\n    error:     msg.error ? msg.error.message : 'Unknown error',\n    source:    (msg.error && msg.error.source) ? msg.error.source.id : null,\n    timestamp: new Date().toISOString()\n};\nnode.warn('Gateway error: ' + JSON.stringify(msg.payload));\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 760,
    "wires": [["49a13137af031033", "cb029365ec98131c"]]
  },
  {
    "id": "cb029365ec98131c",
    "type": "debug",
    "z": "dc64766702f1e738",
    "name": "Debug: Gateway Errors",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "x": 730,
    "y": 820,
    "wires": []
  },
  {
    "id": "49a13137af031033",
    "type": "mqtt out",
    "z": "dc64766702f1e738",
    "name": "MQTT OUT -> irrigation/rpi/error",
    "topic": "irrigation/rpi/error",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "gw_mqtt_broker_cfg",
    "x": 730,
    "y": 760,
    "wires": []
  },
  {
    "id": "gw_serialport_cfg",
    "type": "serial-port",
    "name": "",
    "serialport": "/dev/serial0",
    "serialbaud": "9600",
    "databits": 8,
    "parity": "none",
    "stopbits": 1,
    "waitfor": "",
    "dtr": "none",
    "rts": "none",
    "cts": "none",
    "dsr": "none",
    "newline": "\\n",
    "bin": "false",
    "out": "char",
    "addchar": "\\n",
    "responsetimeout": 10000
  },
  {
    "id": "gw_mqtt_broker_cfg",
    "type": "mqtt-broker",
    "name": "OVH Mosquitto",
    "broker": "164.132.41.168",
    "port": 1883,
    "clientid": "rpi-gateway-abdellah",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "irrigation/rpi/status",
    "birthQos": "1",
    "birthRetain": "true",
    "birthPayload": "{\"status\":\"online\",\"gateway\":\"raspberry01\"}",
    "birthMsg": {},
    "closeTopic": "",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "irrigation/rpi/status",
    "willQos": "0",
    "willRetain": "true",
    "willPayload": "{\"status\":\"offline\",\"gateway\":\"raspberry01\"}",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "54ba07f1896c72ee",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-node-serialport": "2.0.3"
    }
  }
]
