Flows_Gateway/Rasp_gateway.json
[
  {
    "id": "e81d7b1cac24f6e2",
    "type": "tab",
    "label": "Weather station ",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "2a94282f4cb7586f",
    "type": "function",
    "z": "e81d7b1cac24f6e2",
    "name": "Filter By (id=abdelghani)",
    "func": "// ===== Filter & Parse incoming JSON by id =====\n\n// 1. Clean the raw string\nlet raw = msg.payload.toString().trim();\n\n// 2. Extract valid JSON boundaries\nlet start = raw.indexOf('{');\nlet end = raw.lastIndexOf('}');\n\nif (start === -1 || end === -1 || end <= start) {\n    node.warn(\"Dropped: malformed JSON string → \" + raw.substring(0, 120));\n    return null;\n}\n\nraw = raw.substring(start, end + 1);\n\n// 2.5 Fix: replace bare nan/NaN/Nan with null (invalid JSON from firmware)\nraw = raw.replace(/:\\s*nan\\b/gi, ': null');\n\n// 3. Parse JSON safely\nlet parsed;\ntry {\n    parsed = JSON.parse(raw);\n} catch (e) {\n    node.warn(\"Dropped: JSON parse error → \" + e.message + \" | raw: \" + raw.substring(0, 120));\n    return null;\n}\n\n// 4. Filter by id\nif (!parsed.id || parsed.id.trim().toLowerCase() !== \"abdelghani\") {\n    return null;\n}\n\n// 5. Validate only required fields (BMP180 fields are optional)\nconst requiredFields = [\"wind_speed\", \"wind_dir\", \"temperature\", \"humidity\", \"irradiance\"];\nconst missingFields = requiredFields.filter(f => parsed[f] === undefined || parsed[f] === null);\n\nif (missingFields.length > 0) {\n    node.warn(\"Dropped: missing/null fields → \" + missingFields.join(\", \"));\n    return null;\n}\n\n// 5.5 Detect BMP180 presence\nconst bmp180Present = parsed.pressure !== null && parsed.pressure !== undefined\n                   && parsed.altitude !== null && parsed.altitude !== undefined;\n\nif (!bmp180Present) {\n    node.warn(\"BMP180 absent: pressure & altitude set to null\");\n}\n\n// 6. Build clean validated payload\nmsg.payload = {\n    id: parsed.id.trim(),\n    wind_speed:  parseFloat(parsed.wind_speed),\n    wind_dir:    parseFloat(parsed.wind_dir),\n    temperature: parseFloat(parsed.temperature),\n    humidity:    parseFloat(parsed.humidity),\n    irradiance:  parseFloat(parsed.irradiance),\n    pressure:    bmp180Present ? parseFloat(parsed.pressure) : null,\n    altitude:    bmp180Present ? parseFloat(parsed.altitude) : null,\n    received_at: new Date().toISOString()\n};\n\n// 7. Sanity range checks (only for non-null values)\nconst ranges = {\n    temperature: [-40, 80],\n    humidity:    [0, 100],\n    altitude:    [-500, 9000],\n    pressure:    [0, 120],\n    irradiance:  [0, 2000],\n    wind_speed:  [0, 60],\n    wind_dir:    [0, 359]\n};\n\nfor (let [field, [min, max]] of Object.entries(ranges)) {\n    let val = msg.payload[field];\n    if (val === null) continue; // skip optional missing fields\n    if (isNaN(val) || val < min || val > max) {\n        node.warn(`Dropped: ${field} out of range → ${val} (expected ${min}–${max})`);\n        return null;\n    }\n}\n\n// 8. Visual status on node\nconst bmpStatus = bmp180Present\n    ? `${msg.payload.pressure}hPa`\n    : `no BMP180`;\n\nnode.status({ fill: \"green\", shape: \"dot\", text: `✓ ${msg.payload.temperature}°C | ${msg.payload.humidity}% | ${bmpStatus}` });\n\nreturn msg; ",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 120,
    "wires": [["28a4b95a5d19be54", "b072b9728c3070d9"]]
  },
  {
    "id": "28a4b95a5d19be54",
    "type": "function",
    "z": "e81d7b1cac24f6e2",
    "name": "function 9",
    "func": "msg.payload = {\n    id: msg.payload.id,\n    temperature: msg.payload.temperature,\n    humidity: msg.payload.humidity,\n    pressure: msg.payload.pressure,\n    altitude: msg.payload.altitude,\n    irradiance: msg.payload.irradiance,\n    wind_speed: msg.payload.wind_speed,\n    wind_dir: msg.payload.wind_dir,\n    timestamp: new Date().toISOString()\n};\nmsg.headers = { \"Content-Type\": \"application/json\" };\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 180,
    "wires": [["c11256379fc15515", "3bc8a2becd8bf59c"]]
  },
  {
    "id": "c11256379fc15515",
    "type": "http request",
    "z": "e81d7b1cac24f6e2",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://164.132.41.168:1880/weather-data",
    "tls": "",
    "persist": true,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 790,
    "y": 240,
    "wires": [[]]
  },
  {
    "id": "b072b9728c3070d9",
    "type": "debug",
    "z": "e81d7b1cac24f6e2",
    "name": "debug 4",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 60,
    "wires": []
  },
  {
    "id": "95d374206d59a0ff",
    "type": "function",
    "z": "e81d7b1cac24f6e2",
    "name": "Filter By (id=abdelghani)",
    "func": "// ===== Filter & Validate incoming weather data =====\n\n// Le nœud JSON a déjà converti msg.payload en objet JS\nif (typeof msg.payload !== \"object\" || msg.payload === null) {\n    node.warn(\"Dropped: payload is not a valid object\");\n    return null;\n}\n\nlet parsed = msg.payload;\n\n// 1. Filter by id\nif (!parsed.id || parsed.id.toString().trim().toLowerCase() !== \"abdelghani\") {\n    return null;\n}\n\n// 2. Validate required fields\nconst requiredFields = [\n    \"wind_speed\",\n    \"wind_dir\",\n    \"temperature\",\n    \"humidity\",\n    \"irradiance\"\n];\n\nconst missingFields = requiredFields.filter(\n    f => parsed[f] === undefined || parsed[f] === null\n);\n\nif (missingFields.length > 0) {\n    node.warn(\"Dropped: missing/null fields → \" + missingFields.join(\", \"));\n    return null;\n}\n\n// 3. Detect BMP180 presence\nconst bmp180Present =\n    parsed.pressure !== undefined &&\n    parsed.pressure !== null &&\n    parsed.altitude !== undefined &&\n    parsed.altitude !== null;\n\nif (!bmp180Present) {\n    node.warn(\"BMP180 absent: pressure & altitude set to null\");\n}\n\n// 4. Build clean payload\nmsg.payload = {\n    id: parsed.id.toString().trim(),\n    wind_speed: parseFloat(parsed.wind_speed),\n    wind_dir: parseFloat(parsed.wind_dir),\n    temperature: parseFloat(parsed.temperature),\n    humidity: parseFloat(parsed.humidity),\n    irradiance: parseFloat(parsed.irradiance),\n    pressure: bmp180Present ? parseFloat(parsed.pressure) : null,\n    altitude: bmp180Present ? parseFloat(parsed.altitude) : null,\n    received_at: new Date().toISOString()\n};\n\n// 5. Sanity checks\nconst ranges = {\n    temperature: [-40, 80],\n    humidity: [0, 100],\n    altitude: [-500, 9000],\n    pressure: [0, 120],\n    irradiance: [0, 2000],\n    wind_speed: [0, 60],\n    wind_dir: [0, 359]\n};\n\nfor (const [field, [min, max]] of Object.entries(ranges)) {\n\n    const val = msg.payload[field];\n\n    if (val === null) continue;\n\n    if (isNaN(val) || val < min || val > max) {\n        node.warn(\n            `Dropped: ${field} out of range → ${val} (expected ${min}-${max})`\n        );\n        return null;\n    }\n}\n\n// 6. Node status\nconst bmpStatus = bmp180Present\n    ? `${msg.payload.pressure} hPa`\n    : \"no BMP180\";\n\nnode.status({\n    fill: \"green\",\n    shape: \"dot\",\n    text: `✓ ${msg.payload.temperature}°C | ${msg.payload.humidity}% | ${bmpStatus}`\n});\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 4710,
    "y": 2820,
    "wires": [["0188090bb606c127"]]
  },
  {
    "id": "0188090bb606c127",
    "type": "mqtt out",
    "z": "e81d7b1cac24f6e2",
    "name": "mqqt",
    "topic": "/sammoroc@gmail.com/meteo",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "f8333c89044f5206",
    "x": 4930,
    "y": 2820,
    "wires": []
  },
  {
    "id": "d29d9f75462bfc91",
    "type": "json",
    "z": "e81d7b1cac24f6e2",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 4590,
    "y": 2740,
    "wires": [["95d374206d59a0ff"]]
  },
  {
    "id": "c3743ad7c8767089",
    "type": "serial in",
    "z": "e81d7b1cac24f6e2",
    "name": "📡 LoRa Data",
    "serial": "",
    "x": 4390,
    "y": 2740,
    "wires": [["d29d9f75462bfc91"]]
  },
  {
    "id": "3bc8a2becd8bf59c",
    "type": "debug",
    "z": "e81d7b1cac24f6e2",
    "name": "debug 8",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 760,
    "y": 120,
    "wires": []
  },
  {
    "id": "0d26fdafc4468b5e",
    "type": "serial in",
    "z": "e81d7b1cac24f6e2",
    "name": "",
    "serial": "141d7964f67af00e",
    "x": 130,
    "y": 120,
    "wires": [["2a94282f4cb7586f", "70854eec1ace0aca"]]
  },
  {
    "id": "b5c9b6a54917f02c",
    "type": "comment",
    "z": "e81d7b1cac24f6e2",
    "name": "=== SECTION 1: LoRa -> MQTT (Sensor Data Relay) ===",
    "info": "Receives raw LoRa packets from ESP32, filters by id='abdellah', normalizes fields into a clean JSON OBJECT, and publishes to MQTT broker (OVH) on irrigation/abdellah/data. Payload is sent as a real JSON object (msg.payload), so the MQTT out node serializes it properly - no double-encoded strings. Buffered + retried if MQTT is unreachable.",
    "x": 270,
    "y": 380,
    "wires": []
  },
  {
    "id": "70854eec1ace0aca",
    "type": "function",
    "z": "e81d7b1cac24f6e2",
    "name": "Filter & Parse (id=abdellah)",
    "func": "if (typeof msg.payload === 'object') {\n    if (msg.payload.id !== 'abdellah') {\n        node.status({ fill:'grey', shape:'ring', text:'Wrong id' });\n        return null;\n    }\n    node.status({ fill:'green', shape:'dot', text:'abdellah OK' });\n    return msg;\n}\n\nlet line = '';\nif (Buffer.isBuffer(msg.payload)) {\n    line = msg.payload.toString('utf8').trim();\n} else {\n    line = String(msg.payload).trim();\n}\n\nif (!line) return null;\n\n// Guard: catch the literal string '[object Object]' which means something\n// upstream called String(obj) instead of JSON.stringify(obj)/serializeJson().\nif (line === '[object Object]') {\n    node.status({ fill:'red', shape:'ring', text:'Got [object Object] - upstream bug' });\n    node.warn('Gateway: received literal \"[object Object]\" string - sender must use JSON.stringify()/serializeJson(), not String(obj).');\n    return null;\n}\n\nconst start = line.indexOf('{');\nconst end   = line.lastIndexOf('}');\nif (start === -1 || end === -1) {\n    node.status({ fill:'grey', shape:'ring', text:'Not JSON' });\n    return null;\n}\nline = line.substring(start, end + 1);\n\nlet data;\ntry {\n    data = JSON.parse(line);\n} catch(err) {\n    node.status({ fill:'red', shape:'ring', text:'Parse error' });\n    return null;\n}\n\nif (data.id !== 'abdellah') {\n    node.status({ fill:'grey', shape:'ring', text:'Wrong id' });\n    return null;\n}\n\nmsg.payload = data;\nnode.status({ fill:'green', shape:'dot', text:'abdellah OK' });\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 480,
    "wires": [["60a942cb56edcba7", "3c06afeb62c295ee"]]
  },
  {
    "id": "60a942cb56edcba7",
    "type": "debug",
    "z": "e81d7b1cac24f6e2",
    "name": "Debug: Parsed LoRa Data",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "x": 760,
    "y": 440,
    "wires": []
  },
  {
    "id": "3c06afeb62c295ee",
    "type": "function",
    "z": "e81d7b1cac24f6e2",
    "name": "Normalize ESP32 Fields",
    "func": "// Normalizes/renames raw ESP32 fields into a clean, consistent JSON object\n// and adds a gateway-side timestamp + gateway id for traceability.\n// NOTE: percentage/ratio math here is unit normalization (mL/mV -> %, mS/cm),\n// not irrigation decision logic - no thresholds or pump actions are decided here.\n\nconst d = msg.payload;\n\nconst pct_drainage = parseFloat(d.input_mL) > 0\n    ? parseFloat(((parseFloat(d.drainage_mL || 0) / parseFloat(d.input_mL)) * 100).toFixed(1))\n    : 0;\n\nconst ec_mscm = parseFloat((parseFloat(d.ec_drainage || 0) / 1000).toFixed(2));\nconst ph      = parseFloat(parseFloat(d.ph || 0).toFixed(2));\n\nmsg.payload = {\n    id:            d.id || 'abdellah',\n    weight_g:      parseFloat(d.weight_g)      || 0,\n    pct_drainage:  pct_drainage,\n    ec_mscm:       ec_mscm,\n    ph:            ph,\n    input_mL:      parseFloat(d.input_mL)      || 0,\n    drainage_mL:   parseFloat(d.drainage_mL)   || 0,\n    water_used_mL: parseFloat(d.water_used_mL) || 0,\n    temp:          parseFloat(d.temp_drainage)  || 0,\n    soil_pct:      parseFloat(d.soil_pct)       || 0,\n    pump:          d.pump       || 'OFF',\n    drain_pump:    d.drain_pump || 'OFF',\n    timestamp:     d.timestamp || new Date().toISOString(),\n    gateway:       'raspberry01'\n};\n\nmsg.topic = 'irrigation/abdellah/data';\n\nnode.status({ fill:'blue', shape:'dot',\n    text: `drain:${pct_drainage}% EC:${ec_mscm} pH:${ph} w:${d.weight_g}g` });\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 750,
    "y": 480,
    "wires": [["a12efd95d7548eda"]]
  },
  {
    "id": "e9ac719a8842f772",
    "type": "comment",
    "z": "e81d7b1cac24f6e2",
    "name": "=== Buffer & Retry: Sensor Data -> irrigation/abdellah/data ===",
    "info": "If the MQTT broker is unreachable, sensor messages are queued (FIFO, capped at 500) and flushed oldest-first once connection returns. A periodic retry timer (every 10s) also attempts a flush.",
    "x": 290,
    "y": 420,
    "wires": []
  },
  {
    "id": "0d87df4b59d7bff9",
    "type": "comment",
    "z": "e81d7b1cac24f6e2",
    "name": "=== SECTION 2: MQTT -> LoRa (Command Relay) ===",
    "info": "Receives commands from OVH server via MQTT, converts them into the LoRa packet format expected by the ESP32, and transmits over the LoRa serial link. No validation of command semantics beyond basic JSON/format checks.",
    "x": 240,
    "y": 680,
    "wires": []
  },
  {
    "id": "0a40232a38496624",
    "type": "function",
    "z": "e81d7b1cac24f6e2",
    "name": "Validate & Format for LoRa",
    "func": "// Basic structural validation only - NO interpretation of command meaning.\n// Ensures payload is valid JSON and contains an 'id' field, then\n// serializes it into the line format expected by the ESP32 over LoRa.\n\nlet cmd;\n\nif (typeof msg.payload === 'string') {\n    try {\n        cmd = JSON.parse(msg.payload);\n    } catch (err) {\n        node.status({ fill:'red', shape:'ring', text:'Invalid JSON from MQTT' });\n        node.warn('Gateway: received invalid JSON command on ' + msg.topic + ': ' + msg.payload);\n        return null;\n    }\n} else if (typeof msg.payload === 'object' && msg.payload !== null) {\n    cmd = msg.payload;\n} else {\n    node.status({ fill:'red', shape:'ring', text:'Unsupported payload type' });\n    return null;\n}\n\nif (!cmd.id) {\n    node.status({ fill:'red', shape:'ring', text:'Missing id field' });\n    node.warn('Gateway: command missing \"id\" field, dropping: ' + JSON.stringify(cmd));\n    return null;\n}\n\n// Serialize to single-line JSON for LoRa transmission\nmsg.payload = JSON.stringify(cmd) + '\\n';\n\nnode.status({ fill:'green', shape:'dot', text:'CMD -> LoRa: ' + cmd.id });\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 720,
    "wires": [["082f8a13623a60c5", "371adaed62ccea6e"]]
  },
  {
    "id": "082f8a13623a60c5",
    "type": "debug",
    "z": "e81d7b1cac24f6e2",
    "name": "Debug: Command -> LoRa",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "x": 720,
    "y": 780,
    "wires": []
  },
  {
    "id": "0470f1979b7c61f4",
    "type": "inject",
    "z": "e81d7b1cac24f6e2",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"id\":\"abdellah\",\"pump\":1}",
    "payloadType": "json",
    "x": 110,
    "y": 780,
    "wires": [["0a40232a38496624"]]
  },
  {
    "id": "b57dba2f231bb253",
    "type": "inject",
    "z": "e81d7b1cac24f6e2",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"id\":\"abdellah\",\"pump\":0}",
    "payloadType": "json",
    "x": 270,
    "y": 780,
    "wires": [["0a40232a38496624"]]
  },
  {
    "id": "662baf1105b64218",
    "type": "mqtt in",
    "z": "e81d7b1cac24f6e2",
    "name": "",
    "topic": "/abdellah/irrigation/cmd",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "gw_mqtt_broker_cfg",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 720,
    "wires": [["0a40232a38496624"]]
  },
  {
    "id": "4520fbee2b317b3b",
    "type": "inject",
    "z": "e81d7b1cac24f6e2",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"id\":\"abdellah\",\"drain_pump\":1}",
    "payloadType": "json",
    "x": 410,
    "y": 840,
    "wires": [["0a40232a38496624"]]
  },
  {
    "id": "34e100e20f0df5ba",
    "type": "inject",
    "z": "e81d7b1cac24f6e2",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"id\":\"abdellah\",\"drain_pump\":0}",
    "payloadType": "json",
    "x": 430,
    "y": 880,
    "wires": [["0a40232a38496624"]]
  },
  {
    "id": "a12efd95d7548eda",
    "type": "http request",
    "z": "e81d7b1cac24f6e2",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://164.132.41.168:1880/abdellahData",
    "tls": "",
    "persist": true,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1010,
    "y": 480,
    "wires": [[]]
  },
  {
    "id": "371adaed62ccea6e",
    "type": "serial out",
    "z": "e81d7b1cac24f6e2",
    "name": "",
    "serial": "141d7964f67af00e",
    "x": 760,
    "y": 680,
    "wires": []
  },
  {
    "id": "f8333c89044f5206",
    "type": "mqtt-broker",
    "name": "",
    "broker": "mqtt.dioty.co",
    "port": 1883,
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "141d7964f67af00e",
    "type": "serial-port",
    "name": "",
    "serialport": "/dev/serial0",
    "serialbaud": "9600",
    "databits": 8,
    "parity": "none",
    "stopbits": 1,
    "waitfor": "",
    "dtr": "none",
    "rts": "none",
    "cts": "none",
    "dsr": "none",
    "newline": "\\n",
    "bin": "false",
    "out": "char",
    "addchar": "",
    "responsetimeout": 10000
  },
  {
    "id": "gw_mqtt_broker_cfg",
    "type": "mqtt-broker",
    "name": "OVH Mosquitto",
    "broker": "164.132.41.168",
    "port": 1883,
    "clientid": "rpi-gateway-abdellah",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "irrigation/rpi/status",
    "birthQos": "1",
    "birthRetain": "true",
    "birthPayload": "{\"status\":\"online\",\"gateway\":\"raspberry01\"}",
    "birthMsg": {},
    "closeTopic": "",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "irrigation/rpi/status",
    "willQos": "0",
    "willRetain": "true",
    "willPayload": "{\"status\":\"offline\",\"gateway\":\"raspberry01\"}",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "2a8367ccafd2560a",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-node-serialport": "2.0.3"
    }
  }
]
