Flows_Server/api_endpoint.json
[
  {
    "id": "vps_tab_api",
    "type": "tab",
    "label": "Tab 2 — HTTP API",
    "disabled": false,
    "info": "REST API endpoints for the React dashboard. Queries InfluxDB and returns JSON."
  },
  {
    "id": "vps_http_in_sensors_history",
    "type": "http in",
    "z": "vps_tab_api",
    "name": "GET /api/sensors",
    "url": "/api/sensors",
    "method": "get",
    "upload": false,
    "skipBodyParsing": false,
    "swaggerDoc": "",
    "x": 120,
    "y": 180,
    "wires": [["vps_fn_query_sensors_history"]]
  },
  {
    "id": "vps_fn_query_sensors_history",
    "type": "function",
    "z": "vps_tab_api",
    "name": "Build Flux — sensor history",
    "func": "msg.query = `\nfrom(bucket: \"irrigation\")\n  |> range(start: 0)\n  |> filter(fn: (r) => r._measurement == \"sensors\")\n  |> pivot(rowKey: [\"_time\"], columnKey: [\"_field\"], valueColumn: \"_value\")\n  |> sort(columns: [\"_time\"], desc: false)\n`;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 180,
    "wires": [["vps_influx_query_sensors_history"]]
  },
  {
    "id": "vps_influx_query_sensors_history",
    "type": "influxdb in",
    "z": "vps_tab_api",
    "influxdb": "vps_influx",
    "name": "Query InfluxDB",
    "query": "",
    "rawOutput": false,
    "precision": "",
    "retentionPolicy": "",
    "org": "irrigation",
    "x": 660,
    "y": 180,
    "wires": [["vps_fn_resp_sensors_history"]]
  },
  {
    "id": "vps_fn_resp_sensors_history",
    "type": "function",
    "z": "vps_tab_api",
    "name": "Format Response",
    "func": "const limit = Math.min(parseInt(msg.req.query.limit || '500', 10), 5000);\n\nmsg.payload = { ok: true, count: (msg.payload || []).length, data: msg.payload || [] };\nmsg.statusCode = 200;\nmsg.headers = { 'Content-Type': 'application/json', 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 870,
    "y": 180,
    "wires": [["vps_http_out_sensors_history"]]
  },
  {
    "id": "vps_http_out_sensors_history",
    "type": "http response",
    "z": "vps_tab_api",
    "name": "",
    "statusCode": "",
    "x": 1050,
    "y": 180,
    "wires": []
  },
  {
    "id": "vps_http_in_events",
    "type": "http in",
    "z": "vps_tab_api",
    "name": "GET /api/events",
    "url": "/api/events",
    "method": "get",
    "upload": false,
    "skipBodyParsing": false,
    "swaggerDoc": "",
    "x": 130,
    "y": 280,
    "wires": [["vps_fn_query_events"]]
  },
  {
    "id": "vps_fn_query_events",
    "type": "function",
    "z": "vps_tab_api",
    "name": "Build Flux — events",
    "func": "msg.query = `\nfrom(bucket: \"irrigation\")\n  |> range(start: 0)\n  |> filter(fn: (r) => r._measurement == \"events\")\n  |> pivot(rowKey: [\"_time\"], columnKey: [\"_field\"], valueColumn: \"_value\")\n  |> sort(columns: [\"_time\"], desc: false)\n`;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 280,
    "wires": [["vps_influx_query_events"]]
  },
  {
    "id": "vps_influx_query_events",
    "type": "influxdb in",
    "z": "vps_tab_api",
    "influxdb": "vps_influx",
    "name": "Query InfluxDB",
    "query": "",
    "rawOutput": false,
    "precision": "",
    "retentionPolicy": "",
    "org": "irrigation",
    "x": 560,
    "y": 280,
    "wires": [["vps_fn_resp_events"]]
  },
  {
    "id": "vps_fn_resp_events",
    "type": "function",
    "z": "vps_tab_api",
    "name": "Format Response",
    "func": "const limit = Math.min(parseInt(msg.req.query.limit || '500', 10), 5000);\n\nmsg.payload = { ok: true, count: (msg.payload || []).length, data: msg.payload || [] };\nmsg.statusCode = 200;\nmsg.headers = { 'Content-Type': 'application/json', 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 760,
    "y": 280,
    "wires": [["vps_http_out_events"]]
  },
  {
    "id": "vps_http_out_events",
    "type": "http response",
    "z": "vps_tab_api",
    "name": "",
    "statusCode": "",
    "x": 940,
    "y": 280,
    "wires": []
  },
  {
    "id": "vps_fn_query_timers",
    "type": "function",
    "z": "vps_tab_api",
    "name": "Build Flux — latest timers",
    "func": "msg.query = `\nfrom(bucket: \"irrigation\")\n  |> range(start: 0)\n  |> filter(fn: (r) => r._measurement == \"timers\")\n  |> pivot(rowKey: [\"_time\"], columnKey: [\"_field\"], valueColumn: \"_value\")\n  |> sort(columns: [\"_time\"], desc: false)\n`;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 380,
    "wires": [["vps_influx_query_timers"]]
  },
  {
    "id": "vps_influx_query_timers",
    "type": "influxdb in",
    "z": "vps_tab_api",
    "influxdb": "vps_influx",
    "name": "Query InfluxDB",
    "query": "",
    "rawOutput": false,
    "precision": "",
    "retentionPolicy": "",
    "org": "irrigation",
    "x": 590,
    "y": 380,
    "wires": [["vps_fn_resp_timers"]]
  },
  {
    "id": "vps_fn_resp_timers",
    "type": "function",
    "z": "vps_tab_api",
    "name": "Format + group by tour",
    "func": "const limit = Math.min(parseInt(msg.req.query.limit || '500', 10), 5000);\n\nmsg.payload = { ok: true, count: (msg.payload || []).length, data: msg.payload || [] };\nmsg.statusCode = 200;\nmsg.headers = { 'Content-Type': 'application/json', 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 810,
    "y": 380,
    "wires": [["vps_http_out_timers"]]
  },
  {
    "id": "vps_http_out_timers",
    "type": "http response",
    "z": "vps_tab_api",
    "name": "",
    "statusCode": "",
    "x": 1000,
    "y": 380,
    "wires": []
  },
  {
    "id": "vps_http_in_status",
    "type": "http in",
    "z": "vps_tab_api",
    "name": "GET /api/status",
    "url": "/api/status",
    "method": "get",
    "upload": false,
    "x": 130,
    "y": 480,
    "wires": [["vps_fn_status"]]
  },
  {
    "id": "vps_fn_status",
    "type": "function",
    "z": "vps_tab_api",
    "name": "System Status",
    "func": "// Reads rpi_status written by Tab 1 (vps_fn_rpi_status → flow.set)\nconst rpiStatus  = flow.get('rpi_status')  || 'unknown';\nconst lastEvent  = flow.get('last_event')  || null;\nconst lastTimer  = flow.get('last_timer')  || null;\n\nmsg.payload = {\n    ok: true,\n    data: {\n        rpi:        rpiStatus,\n        online:     rpiStatus === 'online',\n        last_event: lastEvent,\n        last_timer: lastTimer,\n        server_time: new Date().toISOString()\n    }\n};\nmsg.statusCode = 200;\nmsg.headers = { 'Content-Type': 'application/json', 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 480,
    "wires": [["vps_http_out_status"]]
  },
  {
    "id": "vps_http_out_status",
    "type": "http response",
    "z": "vps_tab_api",
    "name": "",
    "statusCode": "",
    "x": 560,
    "y": 480,
    "wires": []
  },
  {
    "id": "vps_http_in_cors",
    "type": "http in",
    "z": "vps_tab_api",
    "name": "OPTIONS /api/*  (CORS preflight)",
    "url": "/api/*",
    "method": "options",
    "upload": false,
    "skipBodyParsing": false,
    "swaggerDoc": "",
    "x": 170,
    "y": 580,
    "wires": [["vps_fn_cors"]]
  },
  {
    "id": "vps_fn_cors",
    "type": "function",
    "z": "vps_tab_api",
    "name": "CORS headers",
    "func": "msg.statusCode = 204;\nmsg.headers = {\n    'Access-Control-Allow-Origin':  '*',\n    'Access-Control-Allow-Methods': 'GET, OPTIONS',\n    'Access-Control-Allow-Headers': 'Content-Type, Authorization',\n    'Access-Control-Max-Age':       '86400'\n};\nmsg.payload = '';\nreturn msg;",
    "outputs": 1,
    "x": 420,
    "y": 580,
    "wires": [["vps_http_out_cors"]]
  },
  {
    "id": "vps_http_out_cors",
    "type": "http response",
    "z": "vps_tab_api",
    "name": "",
    "statusCode": "",
    "x": 600,
    "y": 580,
    "wires": []
  },
  {
    "id": "bd779fc77fcb7f7b",
    "type": "http in",
    "z": "vps_tab_api",
    "name": "GET /api/timers",
    "url": "/api/timers",
    "method": "get",
    "upload": false,
    "skipBodyParsing": false,
    "swaggerDoc": "",
    "x": 120,
    "y": 380,
    "wires": [["vps_fn_query_timers"]]
  },
  {
    "id": "17fe487806fb8ce7",
    "type": "comment",
    "z": "vps_tab_api",
    "name": "Backend API Endpoint - GET Methods To Get Sensors , Timers And Events Data",
    "info": "",
    "x": 320,
    "y": 120,
    "wires": []
  },
  {
    "id": "vps_influx",
    "type": "influxdb",
    "hostname": "127.0.0.1",
    "port": "8086",
    "protocol": "http",
    "database": "irrigation",
    "name": "InfluxDb config - abdellah",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "2.0",
    "url": "http://localhost:8086",
    "timeout": "",
    "rejectUnauthorized": true
  },
  {
    "id": "47b1047f17e09c52",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-contrib-influxdb": "0.7.0"
    }
  }
]
