Flows_Server/data_storage.json
[
  {
    "id": "vps_tab_ingestion",
    "type": "tab",
    "label": "Tab 1 — Data Ingestion",
    "disabled": false,
    "info": "Receives MQTT from RPi gateway and stores to InfluxDB. Tracks last_seen for watchdog."
  },
  {
    "id": "vps_fn_parse_sensors",
    "type": "function",
    "z": "vps_tab_ingestion",
    "name": "Parse & Store Sensors",
    "func": "let d;\n\nif (typeof msg.payload === \"string\") {\n    d = JSON.parse(msg.payload);\n} else {\n    d = msg.payload;\n}\n\nmsg.payload = {\n    weight_g: Number(d.weight_g),\n    pct_drainage: Number(d.pct_drainage),\n    ec_mscm: Number(d.ec_mscm),\n    ph: Number(d.ph),\n    input_mL: Number(d.input_mL),\n    drainage_mL: Number(d.drainage_mL),\n    water_used_mL: Number(d.water_used_mL),\n    temp: Number(d.temp),\n    soil_pct: Number(d.soil_pct),\n    pump: d.pump === \"ON\" ? 1 : 0,\n    drain_pump: d.drain_pump === \"ON\" ? 1 : 0\n};\n\nmsg.measurement = \"sensors\";\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 100,
    "wires": [["vps_influx_out_sensors", "vps_debug_sensors"]]
  },
  {
    "id": "vps_influx_out_sensors",
    "type": "influxdb out",
    "z": "vps_tab_ingestion",
    "influxdb": "vps_influx",
    "name": "→ InfluxDB sensors",
    "measurement": "sensors",
    "precision": "",
    "retentionPolicy": "",
    "database": "",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "irrigation",
    "bucket": "irrigation",
    "x": 600,
    "y": 80,
    "wires": []
  },
  {
    "id": "vps_debug_sensors",
    "type": "debug",
    "z": "vps_tab_ingestion",
    "name": "Sensors IN",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "x": 590,
    "y": 120,
    "wires": []
  },
  {
    "id": "vps_fn_parse_events",
    "type": "function",
    "z": "vps_tab_ingestion",
    "name": "Parse & Store Events",
    "func": "let d;\nif (typeof msg.payload === 'string') {\n    try {\n        d = JSON.parse(msg.payload);\n    } catch (e) {\n        return null;\n    }\n} else {\n    d = msg.payload;\n}\n\nflow.set('last_event', d);\n\nconst action = String(d.action || 'UNKNOWN');\n\nmsg.payload = {\n    action: action,\n    timestamp: d.timestamp || new Date().toISOString()\n};\n\nmsg.measurement = \"events\";\nmsg.tags = {\n    device: \"abdellah\",\n    action: action\n};\n\nnode.status({\n    fill: \"blue\",\n    shape: \"dot\",\n    text: action\n});\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 220,
    "wires": [["vps_influx_out_events", "vps_debug_events"]]
  },
  {
    "id": "vps_influx_out_events",
    "type": "influxdb out",
    "z": "vps_tab_ingestion",
    "influxdb": "vps_influx",
    "name": "→ InfluxDB events",
    "measurement": "events",
    "precision": "",
    "retentionPolicy": "",
    "database": "",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "irrigation",
    "bucket": "irrigation",
    "x": 600,
    "y": 200,
    "wires": []
  },
  {
    "id": "vps_debug_events",
    "type": "debug",
    "z": "vps_tab_ingestion",
    "name": "Events IN",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "x": 600,
    "y": 240,
    "wires": []
  },
  {
    "id": "vps_fn_parse_timers",
    "type": "function",
    "z": "vps_tab_ingestion",
    "name": "Parse & Store Timers",
    "func": "let d;\nif (typeof msg.payload === 'string') {\n    try { d = JSON.parse(msg.payload); } catch(e) { return null; }\n} else {\n    d = msg.payload;\n}\n\nflow.set('last_timer', d);\n\nmsg.payload = {\n    remaining_s: Number(d.remaining_s || 0),\n    elapsed_s:   Number(d.elapsed_s   || 0),\n    total_s:     Number(d.total_s     || 0),\n    pct_done:    Number(d.pct_done    || 0),\n    tour:        Number(d.tour        || 0),\n    type_str:    String(d.type        || 'unknown')\n};\n\nmsg.measurement = \"timers\";\n\nmsg.tags = {\n    device: \"abdellah\",\n    type:   String(d.type || 'unknown')\n};\n\nnode.status({ fill: 'yellow', shape: 'dot',\n    text: `${d.type} ${d.fmt} tour${d.tour}` });\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 340,
    "wires": [["vps_influx_out_timers"]]
  },
  {
    "id": "vps_influx_out_timers",
    "type": "influxdb out",
    "z": "vps_tab_ingestion",
    "influxdb": "vps_influx",
    "name": "→ InfluxDB timers",
    "measurement": "",
    "precision": "",
    "retentionPolicy": "",
    "database": "",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "irrigation",
    "bucket": "irrigation",
    "x": 600,
    "y": 340,
    "wires": []
  },
  {
    "id": "vps_mqtt_in_rpi_status",
    "type": "mqtt in",
    "z": "vps_tab_ingestion",
    "name": "📥 RPi Online/Offline",
    "topic": "irrigation/rpi/status",
    "qos": "1",
    "datatype": "auto",
    "broker": "vps_broker",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 140,
    "y": 460,
    "wires": [["vps_fn_rpi_status"]]
  },
  {
    "id": "vps_fn_rpi_status",
    "type": "function",
    "z": "vps_tab_ingestion",
    "name": "RPi Status",
    "func": "let d;\nif (typeof msg.payload === 'string') {\n    try { d = JSON.parse(msg.payload); } catch(e) { return null; }\n} else { d = msg.payload; }\n\nflow.set('rpi_status', d.status);\n\nif (d.status === 'offline') {\n    node.status({ fill:'red', shape:'dot', text:'RPi OFFLINE' });\n} else {\n    node.status({ fill:'green', shape:'dot', text:'RPi online' });\n}\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 460,
    "wires": [["vps_debug_rpi_status"]]
  },
  {
    "id": "vps_debug_rpi_status",
    "type": "debug",
    "z": "vps_tab_ingestion",
    "name": "RPi Status",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 580,
    "y": 460,
    "wires": []
  },
  {
    "id": "27fded223923fa54",
    "type": "link in",
    "z": "vps_tab_ingestion",
    "name": "sensors",
    "links": [],
    "x": 125,
    "y": 100,
    "wires": [["vps_fn_parse_sensors"]]
  },
  {
    "id": "2270ef4036fd5678",
    "type": "link in",
    "z": "vps_tab_ingestion",
    "name": "events",
    "links": [],
    "x": 125,
    "y": 220,
    "wires": [["vps_fn_parse_events"]]
  },
  {
    "id": "f28944618417ca67",
    "type": "link in",
    "z": "vps_tab_ingestion",
    "name": "timers",
    "links": [],
    "x": 145,
    "y": 340,
    "wires": [["vps_fn_parse_timers"]]
  },
  {
    "id": "vps_influx",
    "type": "influxdb",
    "hostname": "127.0.0.1",
    "port": "8086",
    "protocol": "http",
    "database": "irrigation",
    "name": "InfluxDb config - abdellah",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "2.0",
    "url": "http://localhost:8086",
    "timeout": "",
    "rejectUnauthorized": true
  },
  {
    "id": "vps_broker",
    "type": "mqtt-broker",
    "name": "Local Mosquitto (VPS)",
    "broker": "localhost",
    "port": 1883,
    "clientid": "vps-nodered",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthQos": "0",
    "willQos": "0"
  },
  {
    "id": "e749a1ca98a91ae6",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-contrib-influxdb": "0.7.0"
    }
  }
]
